USE [Supermarket4]
GO
/****** Object:  StoredProcedure [dbo].[GetAllProduct]    Script Date: 5/23/2024 2:21:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetAllProduct]
AS
BEGIN
	select ProductID,[ProducerID],[CategoryID],[Name], [BarCode],[IsActive] from Product
END

