USE [Supermarket4]
GO
/****** Object:  StoredProcedure [dbo].[GetAllCategory]    Script Date: 5/23/2024 2:20:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetAllCategory]
AS
BEGIN
	select CategoryID,[Name],[IsActive] from Category
END

