USE [Supermarket4]
GO
/****** Object:  StoredProcedure [dbo].[GetAllProducer]    Script Date: 5/23/2024 2:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetAllProducer]
AS
BEGIN
	select ProducerID,[Name],[Country],[IsActive] 
	from Producer
	where IsActive=1
END

