USE [Supermarket4]
GO
/****** Object:  StoredProcedure [dbo].[GetAllStock]    Script Date: 5/23/2024 2:21:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetAllStock]
AS
BEGIN
	select StockID,[ProductID],[Quantity],[Date],[SellPrice],[BuyPrice],[ExpirationDate],[IsActive] from Stock
END

