USE [Supermarket4]
GO
/****** Object:  StoredProcedure [dbo].[GetAllReceipt]    Script Date: 5/23/2024 2:21:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetAllReceipt]
AS
BEGIN
	select ReceiptID,[EmployeeID],[Date],[IsActive] from Receipt
END



--restabilire tabela
