USE [Supermarket4]
GO
/****** Object:  StoredProcedure [dbo].[GetAllEmployee]    Script Date: 5/23/2024 2:21:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetAllEmployee]
AS
BEGIN
	select EmployeeID,[Name],[Password],[Type],[IsActive] from Employee
END

